<!DOCTYPE html>
<html {% block htmltagattrs %}{% endblock %}>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block meta %}{% endblock %}
        {% block css %}{% endblock %}
        {% block js %}{% endblock %}
        {% block extrahead %}{% endblock %}
    </head>

    <body {% block bodytagattrs %}{% endblock %}>
        {% block body %}{% endblock %}
    </body>
</html>